name: Build EXE

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests websocket-client pynacl pyinstaller

      - name: Build EXE with PyInstaller
        run: |
          pyinstaller --onefile --console --name StandX_Bot main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ProcyonsBot-EXE
          path: dist/StandX_Bot.exe
